#content .personView dl {
  clear: left;
}

#content .personView dd {
  float: left;
  margin-left: 0.5em;
  margin-top: 0em;
  margin-bottom: 0em;
}
#content .personView dt {
  clear: left;
  float: left;
}

.personPortrait{
  float: right;
  margin-right: 1em;
  border: 1px solid #ccc;
}

#content .personBiography dd {
  clear: left;
  margin-top: 1em;
  margin-left: 0;
}

#content .personBiography dt {
  margin-top: 1em;
  font-size: 1.5em;

}
