#content .personContactInfo dd {
  margin: 0 0 0 1em;
}

#content .personContactInfo dt {
  clear: left;
  float: left;
  width: 8.5em;
  margin: 0;
}

#content .personOfficeInfo dd {
  margin: 0 0 0 1em;
}

#content .personOfficeInfo dt {
  clear: left;
  float: left;
  width:8.5em;
  margin: 0;
}

#content .personContactInfo {
  overflow: hidden;
  display: block;
  margin: 1em 0 0 0;
}

.personPortrait{
  float: right;
  margin-right: 1em;
  border: 1px solid #ccc;
}

#content .personBiography dd {
  margin-top: 1em;
  margin-left: 0;
}

#content .personBiography dt {
  margin-top: 1em;
  font-size: 1.5em;

}

