#content .rosterView .alpha-links {
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#content .rosterView .alpha-links a {
  font-size: 1.4em;
  margin: 0.2em;
}

#content .rosterView .gallery_portrait{
  float: left;
  width: 96px;
  height: 128px;
  margin-right: 1em;
}

#content .rosterView .placeholder {
  float: left;
  width: 96px;
  height: 128px;
  margin-right: 1em;
  border: 1px solid #ccc;
}

#content table.roster{
  width: 100%;
}
